apiVersion: v1
kind: Secret
metadata:
  name: order-svc-secrets
  namespace: order-system
  labels:
    part-of: order-system
type: Opaque
stringData:
  APP_HOME: "${APP_HOME}"
  CFG_PATH: "${CFG_PATH}"
  PORT: "${PORT}"
  DB_DSN: "${DB_DSN}"
  KAFKA_BROKER: "${KAFKA_BROKER}"
  LOKI_ENDPOINT: "${LOKI_ENDPOINT}"
  TEMPO_ENDPOINT: "${TEMPO_ENDPOINT}"
  PROMETHEUS_ENDPOINT: ${PROMETHEUS_ENDPOINT}