# Runtime
HOST=localhost
PORT=8080
APP_HOME_SVC=/opt/order_svc
APP_HOME_API=/opt/order_api
CFG_PATH=config/config.yaml

#gRPC
GRPC_HOST=order_svc
GRPC_PORT=50051

# DB
DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=password
DB_NAME=orders-db
DB_DSN=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable

# Kafka
KAFKA_HOST=kafka
KAFKA_PORT=9092
KAFKA_BROKER=${KAFKA_HOST}:${KAFKA_PORT}

# Loki
LOKI_HOST=Loki
LOKI_PORT=3100
LOKI_ENDPOINT=http://${LOKI_HOST}:${LOKI_PORT}/loki/api/v1/push

# Tempo
TEMPO_HOST=Tempo
TEMPO_GRPC_PORT=4317
TEMPO_ENDPOINT=${TEMPO_HOST}:${TEMPO_GRPC_PORT}