# Runtime
HOST=localhost
PORT=8080
APP_HOME=/opt/order_svc
CFG_PATH=config/config.yaml

# DB
DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=password
DB_NAME=orders-db
DB_DSN=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable