# Runtime
HOST=localhost
PORT=8080
APP_HOME=/opt/order_api
CFG_PATH=config/config.yaml

#gRPC
GRPC_HOST=order-svc-service.order-system.svc.cluster.local
GRPC_PORT=50051

# Kafka
KAFKA_HOST=kafka.messaging.svc.cluster.local
KAFKA_PORT=9092
KAFKA_BROKER=${KAFKA_HOST}:${KAFKA_PORT}

# OTel
COLLECTOR_GRPC_PORT=4317

# Loki
LOKI_HOST=loki.monitoring.svc.cluster.local
LOKI_PORT=3100
LOKI_ENDPOINT=http://${LOKI_HOST}:${LOKI_PORT}/loki/api/v1/push

# Tempo
TEMPO_HOST=tempo.monitoring.svc.cluster.local
TEMPO_ENDPOINT=${TEMPO_HOST}:${COLLECTOR_GRPC_PORT}

# Prometheus
PROMETHEUS_HOST=prometheus.monitoring.svc.cluster.local
PROMETHEUS_ENDPOINT=${PROMETHEUS_HOST}:${COLLECTOR_GRPC_PORT}