apiVersion: v1
kind: Secret
metadata:
  name: order-api-secrets
  namespace: order-system
  labels:
    part-of: order-system
type: Opaque
stringData:
  APP_HOME:            ${APP_HOME}
  CFG_PATH:            ${CFG_PATH}
  HOST:                ${HOST}
  PORT:                ${PORT}
  GRPC_HOST:           ${GRPC_HOST}
  GRPC_PORT:           ${GRPC_PORT}
  KAFKA_BROKER:        ${KAFKA_BROKER}
  LOKI_ENDPOINT:       ${LOKI_ENDPOINT}
  TEMPO_ENDPOINT:      ${TEMPO_ENDPOINT}
  PROMETHEUS_ENDPOINT: ${PROMETHEUS_ENDPOINT}