# Runtime
HOST=localhost
PORT=50051
APP_HOME=/opt/order_svc
CFG_PATH=config/config.yaml

# DB
DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=password
DB_NAME=orders-db
DB_DSN=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable

# OTel
COLLECTOR_GRPC_PORT=4317

# Kafka
KAFKA_HOST=kafka
KAFKA_PORT=9092
KAFKA_BROKER=${KAFKA_HOST}:${KAFKA_PORT}

# Loki
LOKI_HOST=loki
LOKI_PORT=3100
LOKI_ENDPOINT=http://${LOKI_HOST}:${LOKI_PORT}/loki/api/v1/push

# Tempo
TEMPO_HOST=tempo
TEMPO_ENDPOINT=${TEMPO_HOST}:${COLLECTOR_GRPC_PORT}

# Prometheus
PROMETHEUS_HOST=prometheus
PROMETHEUS_ENDPOINT=${PROMETHEUS_HOST}:${COLLECTOR_GRPC_PORT}